<p>
  <b>Order:</b>
  <%=h @coupon.order_id %>
</p>

<p>
  <b>Deal:</b>
  <%=h @coupon.deal_id %>
</p>

<p>
  <b>Token:</b>
  <%=h @coupon.token %>
</p>


<%= link_to 'Edit', edit_coupon_path(@coupon) %> |
<%= link_to 'Back', coupons_path %>